Checks: '-*,readability-function-cognitive-complexity'
WarningsAsErrors: '*'
HeaderFilterRegex: '(src|tests)/.*'
CheckOptions:
  readability-function-cognitive-complexity.Threshold: '15'
  readability-function-cognitive-complexity.DescribeBasicIncrements: 'true'
  readability-function-cognitive-complexity.IgnoreMacros: 'true'
